@page
@model SampleASPNetCoreApp.Pages.Teachers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.IsLicensed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.IsLicensed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.YearsOfEmployment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.YearsOfEmployment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.IsNationalBoardCertified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.IsNationalBoardCertified)
        </dd>
        <dt class="col-sm-2">
            Classes
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Classroom1)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Teacher.TeacherID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
