@page
@model SampleASPNetCoreApp.Pages.Classrooms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Classroom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.CodeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.CodeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.ClassroomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.ClassroomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Classroom.ClassroomID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
