@model DryRidgeProgramming.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactTimes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactTimes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatingPrevious)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatingPrevious)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowFullAccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowFullAccess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsSupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsSupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebInterface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebInterface)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OSUnknown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OSUnknown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolateGoogleStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolateGoogleStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolateAppleStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolateAppleStore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolatePrivacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolatePrivacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolateCopyright)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolateCopyright)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attributes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attributes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Layout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Layout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceLayoutF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceLayoutF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayoutDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayoutDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProvidedFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProvidedFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopFeaturesA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopFeaturesA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopFeaturesB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopFeaturesB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopFeaturesC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopFeaturesC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopFeaturesD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopFeaturesD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopFeaturesE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopFeaturesE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScannerFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScannerFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallFunctionality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallFunctionality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FurtherDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurtherDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
