@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>We suggest the following:</h3>
@Html.ActionLink("Employee list using ViewModel", "ViewModelDemo")
@Html.ActionLink("Employee list using PartialView", "PartialViewDemo")
@Html.ActionLink("Employee list using ViewData", "ViewDataDemo")
@Html.ActionLink("Employee list using ViewBag", "ViewBagDemo")
@Html.ActionLink("Employee list using TempData", "TempDataDemo")
@Html.ActionLink("Employee list using Tuple", "TupleDemo")
